<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Living By The Memories</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content scale class="background">
        <h4>(Living By The Memories)</h4> 
        <p>The hinge of the doorway
          to a lover’s heart,
          can only be oiled
          if it creaks rhythmically..

     <p>Resonating to..
        The proposed partner’s heartbeat..
        Then the portal of entry is made,
        to heavenly bliss!

     <p>Alas the stark earthly reality is that..
        The song of love..
        Is oftentimes not sung by two.
        Hum it anyway; enjoy it and live by the memories!
      </p>         
</ion-content>
