<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Hey; Let's Move Forward</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content scale class="background">
        <h4>(Hey; Let's Move Forward)</h4>
        <p>Flummoxed by profile pic inserts?
          Not a helluva chance..
          Attempts at provoking jealousy..
          Not a chance.. Indeed; peace is here!

       <p>An experienced matador,
          knows how to go for the jugular..
          In no time; The irate bull..
          Is down and out.. Forever!

       <p>The galloping horse,
          is built for battle..
          As the swords clash & blood spill..
          He keeps moving forward

       <p>Not distracted by competition..
          Rather attracted by purpose..
          Purpose drives Innovation.
          Ultimately; success is born!
      </p>        
</ion-content>
