app-daily-mantra{
	ion-slide.swiper-slide{
	margin-top: 35%;
	width: 50%;
	// background-size: cover;
		left: 25%;
	}.thumb-img{
		padding:10px;
		// --background: #dfdada;
		// padding-top: 50px;
		// padding-bottom: 50px;
		// --background-size: 30%
	}
}





// app-daily-mantra.image-container{ 
// 	// .image-container{
// 	--background-size: cover;
// 	// }
// }


// --background-position: center;
//     --background-width: 100%;
//     --background-height: auto;
//     --background-size: contain; 
//     position: relative;