<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>A Buttercup of Goodies</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content scale class="background">
        <h4>(A Buttercup of Goodies)</h4> 
   
        <p>Never liked chips..
          But this voice of yours..
          Crystal, crisp and alluring
          Sweet music in my ears!

        <p>When I feel sad..
            I saddle your melody..
            Upon your lyrics like a horse..
            A blissful and passionate ride!

        <p>You please me my love...
            You feel me to the brim..
            A buttercup full of goodies
            From the depth of your loins!

        <p>Stars shine in the skies..
            Meteorites fly in the galaxy..
            But your light sparkles..
            Endlessly & relentlessly with passion!
      </p>
   
</ion-content>
