<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>The Prince Of Death</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content scale class="background">
        <h4>(The Prince Of Death)</h4> 
        <p>High stepping..
          Wild life living..
          Adonis of the century..
          Appearing like Prince Charming!

        <p>Living recklessly..
            With Riotous inclinations..
            Getting stone drunk..
            And cocaine laden!

        <p>Can anyone blame me,
            for refusing to die prematurely?
            Or signing my death certificate?
            Blimey; run I must for dear life!

        <p>Whoever snatches you..
            Does me a big favour..
            Good riddance I must say..
            To ridiculously bad rubbish!
      </p>         
</ion-content>
