<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="askme"></ion-back-button>
        </ion-buttons>
    <ion-title>Terms Of Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>(TOS)</h4>
  <p>Below are the Terms of Service (“TOS”) for MaiG which contain a clause of prorogation of jurisdiction.

    <h4>Prorogation Of Jurisdiction.</h4>
    You agree that the Terms of Service, your use of the Application, as well as any claim relating to, 
    arising out of, or in connection with the Terms of Service and your use of the Application, 
    shall be governed by the laws of The Republic Of South Africa without regard to conflict of law provisions.

  <p>You further agree that you shall endeavor to resolve any and all claims relating to, arising out of, 
    or in connection with the Terms of Service or your use of the Application by engaging in amicable consultations 
    with MaiG for no less than thirty (30) calendar days. Those amicable consultations shall commence upon MaiG’s 
    receipt of a notice of dispute containing sufficient information to identify you and the basis of your claim. 
    The notice of dispute must be sent via the Platform(Ask Me).

  <p>If the dispute cannot be resolved by amicable consultations, it shall be submitted by either party to the 
    Arbitration Court attached to The Arbitration Foundation of Southern Africa NPC (“Arbitration Court”), 
    except for disputes in which the South African state courts have exclusive jurisdiction under South African law.

  <p>Arbitral disputes under Section shall be resolved by a panel as determined in accordance with the 
    Arbitration Rules of the Arbitration Court in effect at the time the notice of dispute was received by MaiG. 
    The resulting arbitral award shall be final and binding on the parties.

  <p>The seat of the arbitration under Section shall be in Gauteng, South Africa. 
    The proceedings shall take place in Gauteng, South Africa, 
    and the language of arbitration shall be English.

    <h4>Use and Access</h4>
    By using and accessing the Application, you certify that:
  <p>•	You are at least 18 years of age or the age of majority 
  under the laws of your state, province or country; and
  <p>•	You know and understand that the materials presented at and/or downloadable from the Application 
    include explicit visual, audio, and/or textual depictions of nudity and explicit sexual content; 
    that you are familiar with materials of this kind; that you are not offended by such materials; 
    and that by agreeing to these Terms of Services you are warranting to us that you are intentionally 
    and knowingly seeking access to such explicit materials for your own personal viewing; and
  <p>•	You will use the Application solely for personal and non-commercial purposes; and
  <p>•	You will not download, copy or distribute any part of the Application for any commercial purpose; and
  <p>•	You will not alter, delete, add, change or edit any of these Terms of Services, and any such attempted alteration shall be void and of no effect.

    <h4>Intellectual Property Rights</h4>
    The Application, except all user Submissions (as defined below), including without limitation, all content, media and materials, all MaiG software, 
    code, design, text, scripts, messages, images, photographs, illustrations, audio and video material, media files, artwork, graphic material, articles, 
    databases, proprietary information, writings, spoken statements, music, video recordings, audio-visual works and recordings, slides, portraits, works of authorship, 
    animated and/or motion pictures and/or still pictures, interactive features, caricatures, likenesses, profiles, vocal or other sounds, sound recordings, voices, voice reproductions, 
    computer graphics and visual effects, as well as any accompanying documentation, packaging or other materials, tangible or intangible, and all copyrightable or 
    otherwise legally protectable elements of the Application, including, without limitation, the selection, sequence, 'look and feel' and arrangement of items, 
    and all derivative works, translations, adaptations or variations of same, regardless of the medium, broadcast medium, format or form, now known or hereinafter 
    developed or discovered, and regardless of where produced, on location, in a studio or elsewhere, in black-and-white or in color, alone or in conjunction with other work,
    characters, real or imaginary, in any part of the world, and all of the foregoing, individually and/or collectively ("Content") and the trademarks, 
    service marks and logos whether or not registered contained therein ("Marks"), are owned by or licensed by MaiG and/or its affiliates, and their advertisers, 
    licensors, suppliers, service providers, promotional partners and/or sponsors, subject to copyright and other intellectual property rights under the relevant governing laws and conventions. 
    You may not copy, reproduce, distribute, broadcast, display, sell, license, or otherwise exploit the Content and/or Marks for any other purposes without the prior written consent of the respective owners.

    <h4>Ask Me Submissions</h4>
    You shall be solely responsible for your own Submissions and the consequences of posting or publishing them. In connection with your Submissions, you affirm/warrant that:
  <p>•	You have the written consent, release, and/or permission of each and every identifiable issue/person in the Submission to use the name or likeness and nature of each issue/individual 
      for use in your Submissions in the manner contemplated by these terms of service; and
  <p>•	You retain all of your ownership rights in your Submissions. However, by submitting the material to us, you grant us a worldwide, non-exclusive, 
      royalty-free, sublicenseable and transferable license to use, reproduce, modify, adapt, transmit, translate, distribute, promote, exhibit, 
      prepare derivative works of, publicly display, and publicly perform the Submission in connection with the Application; and
  <p>•	Posting of your Submission on or through the Application does not violate whether directly or indirectly the privacy rights, publicity rights,
      copyrights, trademark rights, trade secret rights, contract rights or any other rights of any person or entity; and
  <p>•	Anyone who brings a claim against us related to your actions, uploaded content, or information, you will indemnify and 
      hold MaiG and its affiliates, officers, agents, and employees harmless from any claim, suit or action arising from or related to the use of the Services 
      or violation of these Terms of Service, including any liability or expense arising from claims, losses, damages, suits, judgments, litigation costs and
  <p>•	Attorneys’ fees. You acknowledge that you, not MaiG, are responsible for any offensive, inappropriate, obscene, unlawful, unauthorized or otherwise 
      objectionable content or information you upload; and
  <p>•	You have paid or shall pay any and all residuals, reuse and other fees, compensation or payments of any kind, however denominated, which are due or may become due in relation with your Submissions.


  <p> Content on the Application is provided to you AS IS for your information and personal use only. You further agree that you will not:
  <p> •	Submit material/issues that are harmful, malicious code, copyrighted, protected by trade secret or otherwise subject to third party proprietary rights, including privacy and publicity rights, 
      unless you are the owner of such rights or have permission from their rightful owner to post the material and to grant MaiG all of the license rights granted herein; and
  <p> •	Allow any third party, whether or not for your benefit, to reproduce, use, copy, modify, adapt, translate, create derivative works from, display, perform, publish, post, distribute, sell, license, 
      upload, transmit, disseminate, broadcast or circulate to any third party (including, without limitation, on or via a third party Application) or otherwise exploit, any Content, including member Submissions, without our express prior written consent; and
  <p> •	Publish falsehoods or misrepresentations that could damage MaiG or any third party; and
  <p> •	Submit material that is unlawful, threatening, harassing, hateful, or encourages conduct that would be considered a criminal offense, give rise to civil liability, violate any law, or is otherwise inappropriate; and
  <p> •	Submit material depicting or implying rape, forced sexual acts, bestiality, death, or use of controlled substances (implied, staged, simulated, artificial); and
  <p> •	Submit material depicting violence or abuse (actual harm to another living thing); and
  <p> •	Use any computerized or automatic mechanism, including without limitation, any web/app scraper, offline reader, spider or robot, to access, extract or download any content from the Application, unless you are expressly authorized in writing to do so by us; and
  <p> •	Use or launch any automated system that accesses the Application in a manner that sends more request messages to our servers in a given period of time than a person can reasonably create in the same period by using a conventional on-line web browser/application;
  <p> •	Collect or harvest any personally identifiable information, including account names/details, from the Application; and
  <p> •	Solicit, for commercial purposes, any users of the Application with respect to their Submissions; and
  <p> •	Post advertisements or solicitations of business; and impersonate another person, and
  <p> •	We do not endorse any user Submission, and expressly disclaim any and all liability in connection with user Submissions. MaiG does not permit copyright infringing activities or infringement of intellectual property rights on its Website,
  <p> •	Responses from Your Submissions, shall be translated at your full discretion and sole risk and waive all liability against MaiG, its producers, officers, directors, employees and agents, owners, affiliates, 
      and/or licensors, you understand that you will be exposed to Responses from a wide variety of sources, and that MaiG is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such Submissions and Responses. 
  <p> • You further understand and acknowledge that you may be exposed to Responses that maybe inaccurate, indecent, offensive, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or 
      may have against MaiG with respect thereto, and agree to indemnify and hold MaiG its producers, officers, directors, employees and agents, owners, affiliates, and/or licensors, harmless to the fullest extent allowed by law regarding all matters related to your use of this Application.
      

    <h4>Warranty Disclaimer</h4>
    YOU AGREE THAT YOUR USE OF THE APPLICATION SHALL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, 
    MAIG, ITS OFFICERS, DIRECTORS, EMPLOYEES, OWNERS, AFFILIATES, and/or LICENSORS AND AGENTS DISCLAIM ALL WARRANTIES, 
    EXPRESS OR IMPLIED, IN CONNECTION WITH THE APPLICATION AND YOUR USE THEREOF. MAIG MAKES NO WARRANTIES OR REPRESENTATIONS 
    ABOUT THE ACCURACY OR COMPLETENESS OF THE APPLICATION'S CONTENT OR THE CONTENT OF ANY APPLICATIONS LINKED TO THIS SITE 
    INCLUDING RESPONSE/REPLIES TO SUBMISSIONS AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY:
  <p>•	ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, AND/OR
  <p>•	PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR APPLICATION, AND/OR RESPONSES
  <p>•	UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, AND/OR
  <p>•	INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR APPLICATION, AND/OR
  <p>•	ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH OUR APPLICATION BY ANY THIRD PARTY, AND/OR
  <p>•	ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE APPLICATION.
  
  <p> SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.
      MAIG PROVIDES ITS SERVICES “AS IS” AND DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE APPLICATION OR ANY HYPERLINKED 
      APPLICATION OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND MAIG WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. 
      AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.

  <h4>Limitation of Liability</h4>
  TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF MAIG, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, 
  IS LIMITED TO THE AMOUNT YOU PAID US (IF ANY) TO USE THE SERVICES (OR, IF WE CHOOSE, TO SUPPLYING YOU THE SERVICES AGAIN).

  <p>IN NO EVENT SHALL MAIG, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, 
    LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES WHATSOEVER RESULTING FROM ANY:
  <p>•	ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, AND/OR
  <p>•	PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR APLLICATION, AND/OR
  <p>•	UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, AND/OR
  <p>•	INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR APLLICATION, AND/OR
  <p>•	BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR APLLICATION BY ANY THIRD PARTY, AND/OR
  <p>•	ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT POSTED, EMAILED, 
    TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE APLLICATION, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT MAIG IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
  <p>THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION. YOU SPECIFICALLY ACKNOWLEDGE THAT MAIG SHALL NOT BE LIABLE FOR USER SUBMISSIONS OR ANY DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY 
    AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU. IN ALL CASES, MAIG, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.


    <h4>Notices to MaiG</h4>
    General inquiries regarding the MaiG website and services may be made by using the askMe online platform.
    MaiG respects the intellectual property rights of third parties. If you wish to send a copyright infringement notice, please use our procedures. 
    
    <p>Failure to use MaiG' online form for alleged copyright violations may delay our review.
    It is important to use the right form or contact method as failing to do so could slow down your request or even cause it to be left unnoticed.
     

    <h4>General</h4>
    These terms of service, as written, and any other legal notices published on the Application, shall constitute the entire agreement between you and MaiG. If any provision of these terms of service is deemed invalid by a court of competent jurisdiction, 
    the invalidity of such provision shall not affect the validity of the remaining provisions of these terms of service, which shall remain in full force and effect. No waiver of any term of these terms of service shall be deemed a further or continuing 
    waiver of such term or any other term, and MaiG’ failure to assert any right or provision under these terms of service shall not constitute a waiver of such right or provision.
    
    <p>We reserve the right to amend these terms at any time and for any reason, without advance notice to you. Although we may attempt to notify you when major changes are made to these Terms of Service, 
      you are advised to periodically review the most up-to-date version of these terms on this page, so that you are aware of any changes. Once we make the new terms available, these changes become effective 
      immediately and if you use the Application after they become effective, it will signify your agreement to be bound by the changes. Where applicable, the English version of the Terms and Conditions will prevail over any foreign language versions.

</ion-content>
