<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>All Seasons!</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content scale class="background">
        <h4>(All Seasons!)</h4> 
        <p>Cool thoughts mixed with deep emotions..
          Love is like an expensive fur coat;
          Of priceless exquisite colours..
          As deep as the one you wanna give!

        <p>Be it in summer..
            Or the fall..
            Or Springtime..
            And winter.. Love is love!

        <p>The flowers of Spring..
            The Sprinkling in the Fall..
            The coolness of winter..
            Brightness with the sun in Summer!

        <p>Hey.! whichever way it goes?
            Make the best of it..
            Do not complain..
            Just make sure you aren’t alone!
      </p>   

      
</ion-content>
