<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Mating</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content scale class="background">
        <h4>(Mating)</h4> 
        <p>Mal-alignment.. malignancy malady..
          Maiden meadows of the midlands..
          Mildly mal odorous mildewing bread..
          Made for munching, meal for mammals!

      <p> Maybe in May.. Many are made,
          manufactured for millions.
          Meandering meaningless mewing...
          ted out by massive bulls!

       <p>Mating time is nigh..
          Mates are mean.. Some are lean..
          Mellowing with soft grass..
          But mating must be met!

       <p>Matters of the mates..
          Manifest in the meadows.
          Mankind making melody..
          Mating millions in Magaliesburg!
        </p>        
</ion-content>
