<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>Beauty Beyond The Surface</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content scale class="background">
        <h4>(Beauty Beyond The Surface)</h4> 
        <p>Beautiful externally..
          But she flushed her foetus..
          Her unborn baby..
          Down the toilet!

        <p>Beautiful but she jumps..
            From bed to bed...
            Condom bursts.. Sex continues..
            Ending up with strange diseases

        <p>Any raw sex..
            Bring it on..
            It’s ecstasy..
            Pleasure to the brim!

        <p>But another lady volunteer..
            In a war torn area..
            Had so much compassion..
            On an orphaned 6 month girl!

        <p>Before you could..
            Say Jack Robinson..
            Overwrought by emotions..
            She brought out her Breast!

        <p>And nature’s love kicked in..
            For the milk of life flowed..
            Ceaselessly into the child’s mouth..
            Saving her life!

        <p>Hey.. That real beauty..
            The depth of loveliness..
            Palpable prettiness..
            Adorable Beauty!

        <p>Hey.! Don’t be fooled..
            All that glitters..
            Is not gold..
            So the adage goes!

        <p>Some are so wicked..
            On the inside..
            If only you could see..
      </p>          
</ion-content>
